In [1]:
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt
import pandas_profiling
from sklearn.preprocessing import StandardScaler
from  sklearn.model_selection import train_test_split
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

C:\Users\KRUSHNA\AppData\Local\Temp\ipykernel_6444\3982208063.py:5: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  import pandas_profiling

In [2]:
df = pd.read_csv('ai4i2020.csv')
df

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,0,0,0,0,0
9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,0,0,0,0,0
9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,0,0,0,0,0
9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,0,0,0,0,0
9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,0,0,0,0,0

In [3]:
df.describe()

,UDI,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000
mean,5000.50000,300.004930,310.005560,1538.776100,39.986910,107.951000,0.033900,0.004600,0.011500,0.009500,0.009800,0.00190
std,2886.89568,2.000259,1.483734,179.284096,9.968934,63.654147,0.180981,0.067671,0.106625,0.097009,0.098514,0.04355
min,1.00000,295.300000,305.700000,1168.000000,3.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,2500.75000,298.300000,308.800000,1423.000000,33.200000,53.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,5000.50000,300.100000,310.100000,1503.000000,40.100000,108.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
75%,7500.25000,301.500000,311.100000,1612.000000,46.800000,162.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
max,10000.00000,304.500000,313.800000,2886.000000,76.600000,253.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000

In [4]:
pf = df.profile_report()

In [5]:
pf.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

C:\Users\KRUSHNA\AppData\Roaming\Python\Python310\site-packages\multimethod\__init__.py:315: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  return func(*args, **kwargs)

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [6]:
x = df.drop(['UDI','Product ID','Type','Air temperature [K]'],axis = 1)
x

,Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,308.6,1551,42.8,0,0,0,0,0,0,0
1,308.7,1408,46.3,3,0,0,0,0,0,0
2,308.5,1498,49.4,5,0,0,0,0,0,0
3,308.6,1433,39.5,7,0,0,0,0,0,0
4,308.7,1408,40.0,9,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
9995,308.4,1604,29.5,14,0,0,0,0,0,0
9996,308.4,1632,31.8,17,0,0,0,0,0,0
9997,308.6,1645,33.4,22,0,0,0,0,0,0
9998,308.7,1408,48.5,25,0,0,0,0,0,0
9999,308.7,1500,40.2,30,0,0,0,0,0,0

In [7]:
y = df['Air temperature [K]']
df2 = pd.DataFrame(y)
df2

      Air temperature [K]
0                   298.1
1                   298.2
2                   298.1
3                   298.2
4                   298.2
...                   ...
9995                298.8
9996                298.9
9997                299.0
9998                299.0
9999                299.0

[10000 rows x 1 columns]

In [8]:
scalar = StandardScaler()

In [9]:
arr = scalar.fit_transform(x)
arr

array([[-0.94735989,  0.06818514,  0.28219976, ..., -0.09793424,
        -0.09948362, -0.04363046],
       [-0.879959  , -0.72947151,  0.63330802, ..., -0.09793424,
        -0.09948362, -0.04363046],
       [-1.01476077, -0.22744984,  0.94428963, ..., -0.09793424,
        -0.09948362, -0.04363046],
       ...,
       [-0.94735989,  0.59251888, -0.66077672, ..., -0.09793424,
        -0.09948362, -0.04363046],
       [-0.879959  , -0.72947151,  0.85400464, ..., -0.09793424,
        -0.09948362, -0.04363046],
       [-0.879959  , -0.2162938 ,  0.02137647, ..., -0.09793424,
        -0.09948362, -0.04363046]])

In [10]:
df2 = pd.DataFrame(arr)
df2

,0,1,2,3,4,5,6,7,8,9
0,-0.947360,0.068185,0.282200,-1.695984,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
1,-0.879959,-0.729472,0.633308,-1.648852,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
2,-1.014761,-0.227450,0.944290,-1.617430,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
3,-0.947360,-0.590021,-0.048845,-1.586009,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
4,-0.879959,-0.729472,0.001313,-1.554588,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
...,...,...,...,...,...,...,...,...,...,...
9995,-1.082162,0.363820,-1.052012,-1.476034,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
9996,-1.082162,0.520005,-0.821283,-1.428902,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
9997,-0.947360,0.592519,-0.660777,-1.350349,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
9998,-0.879959,-0.729472,0.854005,-1.303217,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
9999,-0.879959,-0.216294,0.021376,-1.224663,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363

In [11]:
df2 = df2.rename(columns={0:'Process temperature [K]',1:'Rotational speed [rpm]',2:'Torque [Nm]',3:'Tool wear [min]',4:'Machine failure',5:'TWF',6:'HDF',7:'PWF',8:'OSF',9:'RNF'})

In [12]:
df2

,Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,-0.947360,0.068185,0.282200,-1.695984,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
1,-0.879959,-0.729472,0.633308,-1.648852,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
2,-1.014761,-0.227450,0.944290,-1.617430,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
3,-0.947360,-0.590021,-0.048845,-1.586009,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
4,-0.879959,-0.729472,0.001313,-1.554588,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
...,...,...,...,...,...,...,...,...,...,...
9995,-1.082162,0.363820,-1.052012,-1.476034,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
9996,-1.082162,0.520005,-0.821283,-1.428902,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
9997,-0.947360,0.592519,-0.660777,-1.350349,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
9998,-0.879959,-0.729472,0.854005,-1.303217,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
9999,-0.879959,-0.216294,0.021376,-1.224663,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363

In [13]:
pf2 = df2.profile_report()
pf2.to_file('ai4i2020_project.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

C:\Users\KRUSHNA\AppData\Roaming\Python\Python310\site-packages\multimethod\__init__.py:315: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  return func(*args, **kwargs)

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [14]:
df2.describe()

,Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
count,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04
mean,-1.693934e-15,-2.330580e-16,5.424994e-16,1.051603e-16,2.842171e-18,-4.973799e-18,1.136868e-17,2.415845e-17,-6.750156e-18,-1.705303e-17
std,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00
min,-2.901986e+00,-2.068196e+00,-3.630149e+00,-1.695984e+00,-1.873220e-01,-6.797983e-02,-1.078600e-01,-9.793424e-02,-9.948362e-02,-4.363046e-02
25%,-8.125581e-01,-6.458012e-01,-6.808401e-01,-8.633176e-01,-1.873220e-01,-6.797983e-02,-1.078600e-01,-9.793424e-02,-9.948362e-02,-4.363046e-02
50%,6.365340e-02,-1.995597e-01,1.134481e-02,7.698234e-04,-1.873220e-01,-6.797983e-02,-1.078600e-01,-9.793424e-02,-9.948362e-02,-4.363046e-02
75%,7.376623e-01,4.084443e-01,6.834663e-01,8.491466e-01,-1.873220e-01,-6.797983e-02,-1.078600e-01,-9.793424e-02,-9.948362e-02,-4.363046e-02
max,2.557486e+00,7.514840e+00,3.672902e+00,2.278819e+00,5.338401e+00,1.471024e+01,9.271274e+00,1.021093e+01,1.005191e+01,2.291977e+01

In [15]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif_df = pd.DataFrame()

In [16]:
vif_df['VIF'] = [variance_inflation_factor(arr,i) for i in range(df2.shape[1])]

In [17]:
vif_df['feature'] = x.columns
vif_df

         VIF                  feature
0   1.004799  Process temperature [K]
1   5.171592   Rotational speed [rpm]
2   5.236156              Torque [Nm]
3   1.039958          Tool wear [min]
4  11.829612          Machine failure
5   2.433058                      TWF
6   4.597022                      HDF
7   3.623946                      PWF
8   3.347600                      OSF
9   1.002015                      RNF

# Note:Machine failure column is a multi-collinear so we remove this columns cause vif value is greater than 10 and if we remove this column so our building modek complexity is decrease

In [31]:
df2 =df2.drop(columns = 'Machine failure')
df2

,Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,RNF
0,-0.947360,0.068185,0.282200,-1.695984,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
1,-0.879959,-0.729472,0.633308,-1.648852,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
2,-1.014761,-0.227450,0.944290,-1.617430,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
3,-0.947360,-0.590021,-0.048845,-1.586009,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
4,-0.879959,-0.729472,0.001313,-1.554588,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
...,...,...,...,...,...,...,...,...,...
9995,-1.082162,0.363820,-1.052012,-1.476034,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
9996,-1.082162,0.520005,-0.821283,-1.428902,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
9997,-0.947360,0.592519,-0.660777,-1.350349,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
9998,-0.879959,-0.729472,0.854005,-1.303217,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
9999,-0.879959,-0.216294,0.021376,-1.224663,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363

In [32]:
x_train,x_test,y_train,y_test = train_test_split(df2,y,test_size=0.25,random_state=200)

In [33]:
x_train

,Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,RNF
2401,-0.947360,-0.958170,0.763720,0.943411,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
9410,-1.014761,0.709657,-0.901537,1.414731,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
6957,0.737662,-1.198025,1.225176,-0.360576,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
7146,-0.071148,-0.238606,-0.821283,0.723461,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
6794,0.535460,-0.617911,1.526126,-0.313444,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
...,...,...,...,...,...,...,...,...,...
7769,1.007266,0.073763,-0.109035,-1.334638,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
8377,-0.205950,-1.131089,1.034575,-1.004714,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
9036,-1.149563,-0.110311,-0.229415,-0.989003,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
784,-1.419166,1.139165,-1.212518,-0.831896,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
1818,-1.553968,-0.578865,0.091598,0.613486,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363

In [34]:
y_train

2401    299.2
9410    298.0
6957    300.7
7146    300.4
6794    301.3
        ...
7769    300.3
8377    298.8
9036    297.3
784     296.7
1818    298.1
Name: Air temperature [K], Length: 7500, dtype: float64

In [35]:
lr = LinearRegression()

In [36]:
lr.fit(x_train,y_train)

LinearRegression()

In [37]:
lr.predict([[-0.947360,-0.958170 ,0.763720 ,0.943411 ,-0.06798,-0.10786,-0.097934,-0.099484 ,-0.04363]])

C:\Users\KRUSHNA\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([298.30980681])

In [40]:
# pickle.dump(lr,open('lr_model.sav','wb'))
# lr_model_save = pickle.load(open('lr_model.sav','rb'))

pickle.dump(lr,open('lr_model_1.sav','wb'))
lr_model_save = pickle.load(open('lr_model_1.sav','rb'))

In [41]:
lr_model_save.score(x_test,y_test)

0.7652610578723917

In [27]:
y = df['Air temperature [K]']
y

0       298.1
1       298.2
2       298.1
3       298.2
4       298.2
        ...
9995    298.8
9996    298.9
9997    299.0
9998    299.0
9999    299.0
Name: Air temperature [K], Length: 10000, dtype: float64

In [28]:
scalar.fit_transform(df2)

array([[-0.94735989,  0.06818514,  0.28219976, ..., -0.09793424,
        -0.09948362, -0.04363046],
       [-0.879959  , -0.72947151,  0.63330802, ..., -0.09793424,
        -0.09948362, -0.04363046],
       [-1.01476077, -0.22744984,  0.94428963, ..., -0.09793424,
        -0.09948362, -0.04363046],
       ...,
       [-0.94735989,  0.59251888, -0.66077672, ..., -0.09793424,
        -0.09948362, -0.04363046],
       [-0.879959  , -0.72947151,  0.85400464, ..., -0.09793424,
        -0.09948362, -0.04363046],
       [-0.879959  , -0.2162938 ,  0.02137647, ..., -0.09793424,
        -0.09948362, -0.04363046]])

In [30]:
lr.score(x_test,y_test)

0.7652356033433735