In [1]:
import pandas as pd
import os
import csv
import glob

In [2]:
os.getcwd()

'C:\\Users\\KRUSHNA\\OneDrive\\Desktop\\Data_science\\Muchine learning\\Logistic regression\\logistic_regrssion projectt\\bending1'

In [3]:
df = pd.read_csv('dataset1.csv',skiprows=4)
df

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,39.25,0.43,22.75,0.43,33.75,1.3
1,250,39.25,0.43,23.00,0.00,33.00,0.0
2,500,39.25,0.43,23.25,0.43,33.00,0.0
3,750,39.50,0.50,23.00,0.71,33.00,0.0
4,1000,39.50,0.50,24.00,0.00,33.00,0.0
...,...,...,...,...,...,...,...
475,118750,43.33,0.47,25.00,0.00,30.00,0.0
476,119000,43.50,0.50,25.50,0.50,30.00,0.0
477,119250,43.50,0.50,24.75,0.43,30.00,0.0
478,119500,43.50,0.50,24.33,0.47,30.00,0.0
479,119750,43.50,0.50,24.25,0.43,30.00,0.0

In [4]:
df['label_col'] = 'bending'
df

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23,label_col
0,0,39.25,0.43,22.75,0.43,33.75,1.3,bending
1,250,39.25,0.43,23.00,0.00,33.00,0.0,bending
2,500,39.25,0.43,23.25,0.43,33.00,0.0,bending
3,750,39.50,0.50,23.00,0.71,33.00,0.0,bending
4,1000,39.50,0.50,24.00,0.00,33.00,0.0,bending
...,...,...,...,...,...,...,...,...
475,118750,43.33,0.47,25.00,0.00,30.00,0.0,bending
476,119000,43.50,0.50,25.50,0.50,30.00,0.0,bending
477,119250,43.50,0.50,24.75,0.43,30.00,0.0,bending
478,119500,43.50,0.50,24.33,0.47,30.00,0.0,bending
479,119750,43.50,0.50,24.25,0.43,30.00,0.0,bending

In [5]:
df.to_csv("update_dataset1.csv")
%ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 6680-0A33

 Directory of C:\Users\KRUSHNA\OneDrive\Desktop\Data_science\Muchine learning\Logistic regression\logistic_regrssion projectt\bending1

23-05-2023  18:10    <DIR>          .
22-05-2023  18:47    <DIR>          ..
23-05-2023  16:23    <DIR>          .ipynb_checkpoints
22-05-2023  18:47            18,964 dataset1.csv
22-05-2023  18:47            19,389 dataset2.csv
22-05-2023  18:47            18,925 dataset3.csv
22-05-2023  18:47            18,923 dataset4.csv
22-05-2023  18:47            18,918 dataset5.csv
22-05-2023  18:47            18,911 dataset6.csv
22-05-2023  18:47            18,896 dataset7.csv
23-05-2023  18:10            22,689 Untitled.ipynb
23-05-2023  18:11            23,178 update_dataset1.csv
23-05-2023  17:22            23,453 update_datset.csv
23-05-2023  17:36            23,178 update_datset0.csv
23-05-2023  18:01                 0 update_datset1.csv
23-05-2023  17:49            23,217 update_datset2.csv
23-05-2023  17:49            23,149 update_datset3.csv
23-05-2023  17:49            23,453 update_datset4.csv
23-05-2023  17:49            23,318 update_datset5.csv
23-05-2023  17:49            23,415 update_datset6.csv
23-05-2023  17:49            23,304 update_datset7.csv
23-05-2023  18:09    <DIR>          updated_file
              18 File(s)        365,280 bytes
               4 Dir(s)  49,777,053,696 bytes free

In [6]:
path = os.listdir()
path

['.ipynb_checkpoints',
 'dataset1.csv',
 'dataset2.csv',
 'dataset3.csv',
 'dataset4.csv',
 'dataset5.csv',
 'dataset6.csv',
 'dataset7.csv',
 'Untitled.ipynb',
 'updated_file',
 'update_dataset1.csv',
 'update_datset.csv',
 'update_datset0.csv',
 'update_datset1.csv',
 'update_datset2.csv',
 'update_datset3.csv',
 'update_datset4.csv',
 'update_datset5.csv',
 'update_datset6.csv',
 'update_datset7.csv']

In [11]:
dataset_list = ['dataset1.csv','dataset2.csv','dataset3.csv','dataset4.csv','dataset5.csv','dataset6.csv','dataset7.csv']
var = 0
for files  in dataset_list:
    df = pd.read_csv(files,skiprows=4)
    df['label_col'] = 'bending'  
    df.to_csv('C:\\Users\\KRUSHNA\\OneDrive\\Desktop\\Data_science\\Muchine learning\\Logistic regression\\logistic_regrssion projectt\\bending1\\updated_file\\update_datset'+str(var)+'.csv')
    var = var + 1

['.ipynb_checkpoints',
 'dataset1.csv',
 'dataset2.csv',
 'dataset3.csv',
 'dataset4.csv',
 'dataset5.csv',
 'dataset6.csv',
 'dataset7.csv',
 'Untitled.ipynb',
 'updated_file',
 'update_dataset1.csv',
 'update_datset.csv',
 'update_datset0.csv',
 'update_datset1.csv',
 'update_datset2.csv',
 'update_datset3.csv',
 'update_datset4.csv',
 'update_datset5.csv',
 'update_datset6.csv',
 'update_datset7.csv']

In [ ]:
%ls

In [ ]:
path = os.getcwd()
path

In [ ]:
all_files = glob.glob(path +"/*.csv")
all_files

In [ ]:
for files,i in all_files:
    df = pd.read_csv(files)

In [ ]:
len(dataset_list)

In [ ]:
os.makedirs()